<h1>Your Schedule</h1>

<table border="2">
    <thread>
        <tr>
            <th>Task</th>
            <th>Expected Time</th>
            <th>Actual Time</th>
        </tr>
    </thread>
    <tbody>
    {% for row in input %}
        <tr>
            <th>{{ row.task_name }}</th>
            <th>{{ row.expected_time }}</th>
            <th>{{ row.actual_time }}</th>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>

<p><a href= "/todo/plan/">Add more tasks</a></p>